@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
h2,
h3 {
  color: #333333;
}
sh-2 {
  color: #666666;
}
h4 {
  color: #f7f7f7;
}
ul li {
  list-style: none;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.padding-top {
  padding-top: 16px;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.bg-1 {
  background-color: #02160b;
}
.bg-2 {
  background-color: #cccccc;
}
.bg-3 {
  background-color: #181617;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.section-first {
  height: 779px;
}
.wrapper {
  margin: 0 auto;
  width: 1440px;
  height: 779px;
  background: #02160b url(../img/bg-fox.jpg) center no-repeat;
  background-size: 100%;
}
.bg-none {
  background: none;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: -1px;
}
.navbar-brand__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-transform: uppercase;
  margin-top: 3px;
  font-size: 32px;
}
.navbar-brand__text:before {
  content: url('../img/logo.svg');
  padding-right: 15px;
  vertical-align: middle;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  width: 481px;
}
.nav-link {
  font-size: 23px;
}
.nav-link img {
  vertical-align: baseline;
}
.nav-item:not(:nth-of-type(4)):hover {
  opacity: 0.7;
}
.nav-item:not(:nth-of-type(4)):active {
  opacity: 0.3;
}
.survival {
  padding-top: 118px;
}
.survival-text {
  padding-top: 50px;
  padding-bottom: 48px;
  max-width: 274px;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-align: center;
  padding: 8px 23px;
  border: 2px solid #cd6326;
  border-radius: 5px;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #cd6326;
  border: 2px solid #cd6326;
}
.btn:active {
  background: #8f5613;
  border: 2px solid #8f5613;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  padding: 16px 42px 17px 42px;
  color: #f7f7f7;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 5px;
}
.button:hover,
.button:focus {
  outline: none;
  background: #e39128;
  border: 1px solid #e39128;
}
.button:active {
  background: #8f5613;
  border: 1px solid #8f5613;
}
.section-two {
  text-align: center;
  height: 1368px;
  min-width: 1440px;
}
.latest-articles {
  padding-top: 122px;
  margin: 0 auto;
}
.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.subtitle {
  padding-top: 19px;
  font-size: 24px;
  line-height: 36px;
}
.slider {
  width: 1080px;
  height: 360px;
  margin-left: 30px;
  margin-right: 30px;
  margin: 0 px auto;
  overflow: hidden;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}
.slider-image {
  padding: 0 30px;
  position: relative;
  width: 100%;
}
.slider h4,
.slider p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-size: 22px;
  line-height: 36px;
  position: absolute;
  top: 247px;
  left: 0;
  width: 100%;
}
.slider p {
  font-size: 17px;
  line-height: 27px;
  padding-top: 46px;
}
.slider-line {
  height: 360px;
  width: 2160px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider-btn {
  margin-top: 5px;
}
.slider-btn:hover {
  opacity: 0.6;
}
.slider-btn:active {
  opacity: 0.2;
}
.slider-prev {
  background: url('../img/arrow-left.svg') no-repeat center;
  height: 70px;
  width: 30px;
}
.slider-next {
  background: url('../img/arrow-right.svg') no-repeat center;
  height: 70px;
  width: 30px;
}
.get-notified {
  padding-top: 239px;
}
.get-notified h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 61px;
}
form {
  display: flex;
  width: 660px;
  margin: 0 auto;
}
input {
  width: 540px;
  border: 1px solid #666666;
  height: 60px;
  background: transparent;
}
input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  color: #666666;
  display: flex;
  align-items: center;
}
input:nth-of-type(2) {
  padding: 0;
  margin: 0 auto;
}
input[type="email"] {
  padding-left: 15px;
}
.input-area {
  font-size: 30px;
}
.input-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  outline: none;
  width: 120px;
  color: #f7f7f7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #cd6326;
  border: 1px solid #cd6326;
}
.input-button:hover,
.input-button:focus {
  outline: none;
  background: #e39128;
  border: 1px solid #e39128;
}
.input-button:active {
  background: #8f5613;
  border: 1px solid #8f5613;
}
.bg-footer {
  background: #02160b url(../img/bg-footer.jpg) center no-repeat;
  background-size: 100%;
  height: 360px;
}
.footer {
  margin: 0 auto;
  width: 1440px;
  padding-top: 1px;
}
.footer-container {
  margin: 0 auto;
  width: 1200px;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 3px;
  font-size: 32px;
  margin-block-end: 0;
}
.footer-logo__text:before {
  content: url('../img/logo.svg');
  padding-right: 15px;
}
.footer-nabvar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer nav {
  width: 475px;
}
.footer-nav {
  padding-right: 2px;
  width: 481px;
}
.footer-brand {
  width: 240px;
}
.footer-navbar__links {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-size: 23px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapp {
  display: flex;
  align-items: center;
}
.social {
  width: 240px;
}
.social ul {
  justify-content: space-between;
  display: flex;
  padding-right: 1px;
}
.social ul li {
  position: relative;
  background: #F7F7F7;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
}
.social ul li a:hover {
  filter: invert(60%) sepia(100%) saturate(610%) hue-rotate(342deg) brightness(94%) contrast(89%);
}
.social ul li a:active {
  filter: invert(31%) sepia(97%) saturate(416%) hue-rotate(352deg) brightness(95%) contrast(95%);
}
.facebook a {
  background: url('../img/facebook.svg') no-repeat center;
}
.instagram a {
  background: url('../img/instagram.svg') no-repeat center;
}
.pinterest a {
  background: url('../img/pinterest.svg') no-repeat center;
}
.telegramm a {
  background: url('../img/telegramm.svg') no-repeat center;
}
