@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
h2 {
  color: #333333;
}
sh-2 {
  color: #666666;
}
h3 {
  color: #333333;
}
h4 {
  color: #f7f7f7;
}
ul li {
  list-style: none;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.padding-top {
  padding-top: 17px;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.bg-1 {
  background-color: #02160b;
}
.bg-2 {
  background-color: #cccccc;
}
.bg-3 {
  background-color: #181617;
}
.container {
  margin: 0 auto;
}
.section-first {
  margin: 0 auto;
  width: 1440px;
  height: 779px;
  background: #02160b url(../img/bg-fox.jpg) center no-repeat;
  background-size: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 3px;
}
.navbar-brand__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-transform: uppercase;
  margin-top: 3px;
  font-size: 32px;
}
.navbar-brand__text:before {
  content: url('../img/logo.svg');
  padding-right: 15px;
  vertical-align: middle;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row nav {
  width: 481px;
}
.row nav a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 23px;
  line-height: 27px;
}
.nav-item:not(:nth-of-type(4)):hover {
  opacity: 0.7;
}
.nav-item:not(:nth-of-type(4)):active {
  opacity: 0.3;
}
.survival {
  padding-top: 53px;
}
.survival-text {
  padding-top: 18px;
  padding-bottom: 30px;
  max-width: 274px;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #cd6326;
  border-radius: 5px;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #cd6326;
  border: 2px solid #cd6326;
}
.btn:active {
  background: #8f5613;
  border: 2px solid #8f5613;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  padding: 16px 42px 17px 42px;
  color: #f7f7f7;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 5px;
}
.button:hover,
.button:focus {
  outline: none;
  background: #e39128;
  border: 1px solid #e39128;
}
.button:active {
  background: #8f5613;
  border: 1px solid #8f5613;
}
.section-two {
  padding: 121px;
  text-align: center;
}
.latest-articles {
  margin: 0 auto;
}
.slider {
  width: 822px;
  height: 256px;
  margin: 30px auto;
  overflow: hidden;
}
.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider img {
  padding: 0 30px;
}
.slider-line {
  height: 256px;
  width: 1644px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.slider-btn {
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  padding: 0 30px;
}
.slider-btn:hover {
  opacity: 0.2;
}
.slider-btn:active {
  opacity: 0.7;
}
.slider-prev {
  background: url('../img/arrow-left.svg') no-repeat center;
  height: 70px;
  width: 30px;
}
.slider-next {
  background: url('../img/arrow-right.svg') no-repeat center;
  height: 70px;
  width: 30px;
}
.footer {
  background-color: #181617;
}
